In [25]:
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

In [26]:
test_y_df=pd.read_csv('../datasets/titanic_gender_submission.csv',encoding='euc-kr')
test_df = pd.read_csv('../datasets/titanic_test.csv', encoding='utf-8')
train_df =pd.read_csv('../datasets/titanic_train.csv', encoding='utf-8')

In [27]:
train_df.info()
train_df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

(891, 12)

In [28]:
# Pclass : 승객등급, Sex : 성별, Age : 나이 , Survived : 생존(타겟)

train = train_df[['Pclass','Sex', 'Age', 'Survived']]
test = test_df[['Pclass','Sex', 'Age']]
test_y = test_y_df['Survived']

In [29]:
train.isnull().sum()

Pclass        0
Sex           0
Age         177
Survived      0
dtype: int64

In [30]:
train.dropna(axis=0, inplace=True)

In [31]:
train.isnull().sum()

Pclass      0
Sex         0
Age         0
Survived    0
dtype: int64

In [32]:
train.describe()
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    714 non-null    int64
 1   Sex       714 non-null    object
 2   Age       714 non-null    float64
 3   Survived  714 non-null    int64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.9+ KB

In [33]:
train['Sex'].value_counts()

male      453
female    261
Name: Sex, dtype: int64

In [34]:
from sklearn.preprocessing import LabelEncoder
encoder= LabelEncoder()
train['Sex']= encoder.fit_transform(train['Sex'])

In [35]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(train[['Age']])
train['Age']= scaler.transform(train[['Age']])
train.head()

   Pclass  Sex       Age  Survived
0       3    1  0.271174         0
1       1    0  0.472229         1
2       3    0  0.321438         1
3       1    0  0.434531         1
4       3    1  0.434531         0

In [36]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

dt = DecisionTreeClassifier(random_state=42)
rf = RandomForestClassifier(random_state=42)
lr = LogisticRegression()

X =train.drop('Survived', axis=1)
y =train['Survived']

result_dict = {
    'dt':[],
    'rf':[],
    'lr':[]
}

for index, algorithm in enumerate([dt, rf, lr]):
    result = cross_val_score(algorithm, X,y)            
    if index == 0 :
        result_dict['dt'] = result
    elif index == 1:
        result_dict['rf'] = result
    else:
        result_dict['lr'] = result

<https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.cross_val_score.html>

In [37]:
result_dict

{'dt': array([0.77622378, 0.81818182, 0.8041958 , 0.81118881, 0.83098592]),
 'rf': array([0.76223776, 0.8041958 , 0.83216783, 0.83216783, 0.82394366]),
 'lr': array([0.74825175, 0.83916084, 0.77622378, 0.74825175, 0.80985915])}

In [38]:
# 한길 방법 
result = {}
for i, j in enumerate([dt, rf, lr]) :
  result[i] = cross_val_score(j, X, y)

result

{0: array([0.77622378, 0.81818182, 0.8041958 , 0.81118881, 0.83098592]),
 1: array([0.76223776, 0.8041958 , 0.83216783, 0.83216783, 0.82394366]),
 2: array([0.74825175, 0.83916084, 0.77622378, 0.74825175, 0.80985915])}

In [39]:
import numpy as np
print(np.mean(result_dict['dt']))
print(np.mean(result_dict['rf']))
print(np.mean(result_dict['lr']))

0.8081552250566336
0.8109425785482124
0.7843494533635379

In [40]:
# 테스트 데이터도 트레인의 형태로 만들어주기
test['Survived'] = test_y_df['Survived']
test

     Pclass     Sex   Age  Survived
0         3    male  34.5         0
1         3  female  47.0         1
2         2    male  62.0         0
3         3    male  27.0         0
4         3  female  22.0         1
..      ...     ...   ...       ...
413       3    male   NaN         0
414       1  female  39.0         1
415       3    male  38.5         0
416       3    male   NaN         0
417       3    male   NaN         0

[418 rows x 4 columns]

In [41]:
test.dropna(axis=0, inplace=True)
encoder = LabelEncoder()
test['Sex'] = encoder.fit_transform(test[['Sex']])

scaler = MinMaxScaler()
scaler.fit(test[['Age']])
test['Age'] = scaler.transform(test[['Age']])

In [42]:
X_test= test.drop('Survived', axis=1)

In [43]:
from sklearn.metrics import accuracy_score

rf.fit(X, y)
pred_rf=rf.predict(X_test)

accuracy_score(test['Survived'], pred_rf)

0.8403614457831325

In [44]:
dt.fit(X, y)
pred_dt = dt.predict(X_test)

accuracy_score(test['Survived'], pred_dt)

0.8192771084337349

In [45]:
lr.fit(X, y)
pred_lr = lr.predict(X_test)

accuracy_score(test['Survived'], pred_lr)

0.927710843373494